# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Node.js Package

on:
  push:
    branches: [ master ]
    tags: ["v*.*.*"]
  pull_request:
    branches: [ master ]

jobs:

  build-and-publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/

      # - name: "Automated Version Bump"
      #   uses: "phips28/gh-action-bump-version@master"
      #   with:
      #     tag-prefix: 'v'
      
      # - name: "cat package.json"
      #   run: cat ./package.json

      - run: npm install
      - run: npm run build
      - run: ls
      - run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}